
html, body {
  margin: 0;
 }

.header {
  padding: 2px;
  font-family: Georgia;
  text-align: center;
  background: rgb(248, 213, 241);
  color: purple;
  font-size: 10px;
  width: 100%;
  opacity: 80%;
}




div {
  display: inline;
  width: 50%;
  margin: 10;
  padding: 20px;
  
  
}

article {
  list-style-type: none;
  top
  display:inline-block;
  width: 33.33%;
  padding: 5px 20px 10px 5px;
  margin: 10;
  padding: 20px;
 
}

p {
color: purple;
font-size: larger;
margin: 10%;


}

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>
