

.header {
    padding: 2px;
    font-family: Georgia;
    text-align: center;
    background: plum;
    color: white;
    font-size: 20px;
  }
  
ul {
    list-style-type: none;
    display:inline-block;
    float: left;
    width: 33.33%;
    padding: 5px;
}

p {
  color: purple;
  font-size: larger;
 
  ;
}

/* Navbar Styles */
nav ul{
    display: flex;
}

li {
    list-style-type: none;
    padding: 10px;
    
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}