* {
    margin: 0;
}

article {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(163, 174, 185);
    margin: 20px;
    padding: 20px;
}

.albums {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

h2 {
    margin-bottom: 1em;
}