h1{
    font-display: bold;
    font-style: italic;
    text-align: center;
    padding: 3%;
    margin: 1px;
}
body {
    display: block;
    display: flex;
    flex-direction: column;
}
figure {
    width: 50%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 0.5em; 
    padding: 0.5em;
    margin: auto auto;
  }
.img-container img{
    width: 50%; 
}
.content{
    padding: 2%;
    text-align: center;
    border-style: rounded;
    border-color: purple;
    border-width: 5px 5px;
}
