.card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    border: 2px solid red;
    height: 600px;
    overflow: scroll;
}

.card img{
    width: 100%;
}
.tour-cards {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid purple;
    overflow: scroll;
}

.film-cards {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid purple;
    overflow: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.tv-cards {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid purple;
    overflow: scroll;
}