/* Navbar Styles */
nav ul{
    display: flex;
}

li {
    list-style-type: none;
    padding: 10px;
    
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #D99AC5, #BBC2E2);
    padding: 3%;
}

footer img {
    width: 40px;
    height: 40px;
}